<div class="row">
    <div
        class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns"
        [class.text-center]="_products?.length === 0">
        <ul *ngIf="_products?.length > 0">
            <li *ngFor="let product of _products">
                <button
                    (click)="setProductAvailable(product.id)"
                    class="button expanded">Poner {{ product.name }} a la venta</button>
            </li>
        </ul>
        <span *ngIf="_products?.length === 0">Todos los productos están a la venta</span>
        <button
            (click)="goBack()"
            class="warning button expanded">Volver</button>
    </div>
</div>
